* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Raleway-Sans', sans-serif;
}
/*NAV*/
#navbar {
	background-color: white;
	border-bottom: none;
}
.navbar .logo-brand{
	width: 60%;
}
/* SEC01*/
.bg-header{
	background-image: url('../img/taxi.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 100vh;
	color: #f7b617; 
}
.logo-sec01{
	width: 30%;
}
.caja-sec01{
	width: 400px;
	height: 200px;
	background-color:#f7b617;
	color: #FFF;
	padding bottom: 50px;

}
/* SEC02*/
.bg-color02{ 
	background-color: #f7b617;
	min-height: 80vh;
	color: #FFF;	
}
.caja-sec02{
	border: 1px solid white;
	height: 70vh;
	margin-top: 5vh;
}
/* SEC03*/	
.bg-conduce{
	background-image: url('../img/conduce.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 65vh;
	color: #f7b617; 
}
.caja-sec03{
	background-color: rgba(0, 0, 0, 0.25);
  	padding: 5%;
  	color: #fff;
  	height: 65vh;
}
/* SEC04*/
#footter{
	text-decoration-style: none;
	color: #fff;
}
.bg-color04{ 
	background-color: #f7b617;
	min-height: 80vh;
}
#map{
	width: 300px;
	height: 300px;
}
/*footer*/
.bg-footer{
	background-color: #2b2b2b;
	color: #fff;
	height: 400px;

}
.bg-footer .logo-footer {
	margin-top: 5vh;
	width: 70vh;
}
